In [ ]:
pip install texthero

Requirement already satisfied: texthero in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.3.4)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.2.2)
Requirement already satisfied: wordcloud>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.5.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.21.6)
Requirement already satisfied: nltk>=3.3 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.7)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from texthero) (4.64.0)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.0.2)
Requirement already satisfied: pandas>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.3.5)
Requirement already satisfied: plotly>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (5.5.0)
Requirement already satisfied: gensim<4.0,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.6.0)
Requirement already satisfied: spacy<3.0.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (2.2.4)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.4.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.15.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.0->texthero) (4.1.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (2022.4.24)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.2->texthero) (2022.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.2.0->texthero) (8.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->texthero) (3.1.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.23.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.9.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (57.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (3.0.6)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.0.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.4.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.5)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (3.8.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2.10)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud>=1.5.0->texthero) (7.1.2)

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.4f' % x)
import seaborn as sns
sns.set_context("paper", font_scale=1.3)
sns.set_style('white')
import warnings
warnings.filterwarnings('ignore')
from time import time
import matplotlib.ticker as tkr
from scipy import stats
from statsmodels.tsa.stattools import adfuller
from sklearn import preprocessing
from statsmodels.tsa.stattools import pacf
%matplotlib inline
import math
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from keras.callbacks import EarlyStopping
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import time
label_encoder = preprocessing.LabelEncoder()
import datetime
from math import log, sqrt, pi, exp
from scipy.stats import norm
from datetime import datetime, date, timedelta
from pandas import DataFrame
import pandas as pd
from bs4.element import DEFAULT_OUTPUT_ENCODING
import re
from gensim import corpora, models, similarities
import nltk
from nltk.corpus import stopwords
import numpy as np
import pandas as pd
import sys
# !{sys.executable} -m spacy download en
import re, numpy as np, pandas as pd
from pprint import pprint

import gensim, spacy, logging, warnings
nlp = spacy.load('en_core_web_sm')
import gensim.corpora as corpora
from gensim.utils import  simple_preprocess
from gensim.models import CoherenceModel
import matplotlib.pyplot as plt

from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob
import os
import tweepy as tw
import pandas as pd
import re, numpy as np, pandas as pd
from pprint import pprint
from random import randint
from time import sleep

import gensim, spacy, logging, warnings
nlp = spacy.load('en_core_web_sm')
import gensim.corpora as corpora
from gensim.utils import  simple_preprocess
from gensim.models import CoherenceModel
import matplotlib.pyplot as plt

from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob

from nltk.corpus import stopwords

from nltk.corpus import stopwords

In [ ]:
#ONLY RUN IF YOU WANT TO TRAIN/LABEL MORE TWEETS
consumer_key= '7d7PKS74mTCa5EYGc6lw5KHyH'
consumer_secret= 'FG2d31TVlPaR7zTedvsQUX9vkC5c4tInorAOPIdJ0nMNT2GqmP'
access_token= '1343573569796767745-TDUJmh3IEyPIY390WkW1N10b9uBPZG'
access_token_secret= '1PQ1MuLQtm82v6ML9ks908J75xvppFFkn1kH3cd4yLTyA'


auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-10'
date_until = '2022-04-20'
search = 'bucks&-1.5'
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df = pd.DataFrame(all_tweets)
iii = 0

In [ ]:
if iii == 0:
  df.to_csv('bucks_train.csv')
  iii = iii+1
else:
  print('no dataset to save')

no dataset to save

In [ ]:
cel = pd.read_csv('/content/bucks_train.csv')
print('BUCKS - vs bulls')
cell = pd.DataFrame()
cell['text'] = cel['0']


import gensim
from gensim.utils import simple_preprocess
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
def remove_stopwords(texts):
    return [[word for word in simple_preprocess(str(doc)) 
              if word not in stop_words] for doc in texts]
data = cell.text.values.tolist()
data_words = list(sent_to_words(data))
data_wordss = remove_stopwords(data_words)


#---------------------------------------------------------------------------------
def sent_to_words(sentences):
    for sent in sentences:
        sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
        yield(sent)

bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
bigram_mod = gensim.models.phrases.Phraser(bigram)
trigram_mod = gensim.models.phrases.Phraser(trigram)
def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
    """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
    texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
    texts = [bigram_mod[doc] for doc in texts]
    texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent)) 
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
    return texts_out
data_ready = process_words(data_words)  
data_ready

cell['text'][0]
celll =[]
import re

for sfw in range(len(cell['text'])):
  tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
  gg = []
  for xc in range(len(tr)):
    if len(tr[xc])==0:
      faf = 0
    else:
      gg.append(tr[xc])
  celll.append(gg)


len(celll)
celtics = pd.DataFrame()
celtics['text'] = cell['text']
celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
celtics['target'] = cel['Unnamed: 0'].fillna(0)
print('input search term')
search = input().lower()
print('input the opposing team')
other = input().lower()
print('enter the nickname of the search term')
nickname = input().lower()
print('enter the nickname of the opp term')
nickname1 = input().lower()
print('input the search teams line')
line_search = float(input())
print('input the opps team line')
line_op = float(input())

cc = []
for x in range(len(celtics['target'])):
  cc.append(nickname)
celtics['nickname_search'] = cc

cc = []
for x in range(len(celtics['target'])):
  cc.append(search)
celtics['team'] = cc

cc = []
for x in range(len(celtics['target'])):
  cc.append(other)
celtics['op_team'] = cc

cc = []
for x in range(len(celtics['target'])):
  cc.append(nickname1)
celtics['nickname_op'] = cc
cc = []
for x in range(len(celtics['target'])):
  cc.append(line_search)
celtics['search_line'] = cc
cc = []
for x in range(len(celtics['target'])):
  cc.append(line_op)
celtics['op_line'] = cc

df111 = celtics

print('search again? (yes/no)')
sss = input().lower()

if sss == 'no':
  hgh = 2
else:
  cel = pd.read_csv('/content/bulls_train.csv')
  print('BULLS - vs bucks')

  cell = pd.DataFrame()
  cell['text'] = cel['0']


  import gensim
  from gensim.utils import simple_preprocess
  import nltk
  nltk.download('stopwords')
  from nltk.corpus import stopwords
  stop_words = stopwords.words('english')
  stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
  def sent_to_words(sentences):
      for sentence in sentences:
          yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
  def remove_stopwords(texts):
      return [[word for word in simple_preprocess(str(doc)) 
                if word not in stop_words] for doc in texts]
  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  #---------------------------------------------------------------------------------
  def sent_to_words(sentences):
      for sent in sentences:
          sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
          yield(sent)

  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
      """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
      texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
      texts = [bigram_mod[doc] for doc in texts]
      texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
      texts_out = []
      for sent in texts:
          doc = nlp(" ".join(sent)) 
          texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
      texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
      return texts_out
  data_ready = process_words(data_words)  
  data_ready

  cell['text'][0]
  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  len(celll)
  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  celtics['target'] = cel['Unnamed: 0'].fillna(0)
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  ('enter the nickname of the search term')
  nickname = input().lower()
  ('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = input().lower()
  print('input the opps team line')
  line_op = input().lower()

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_op)
  celtics['op_line'] = cc
  df222 = celtics
  df_fin = df111.append(df222)




print('length of nets targets = ' +str(len(df_fin[df_fin['target']==1])))
print('length of celtics targets = ' + str(len(df_fin[df_fin['target']==2])))
print('length of nan targets = ' +str(len(df_fin[df_fin['target']==0])))


if sss == 'no':
  hgh = 2
else:
  cel = pd.read_csv('/content/celtics_train.csv')
  print('CELTICS - vs nets')


  cell = pd.DataFrame()
  cell['text'] = cel['0']


  import gensim
  from gensim.utils import simple_preprocess
  import nltk
  nltk.download('stopwords')
  from nltk.corpus import stopwords
  stop_words = stopwords.words('english')
  stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
  def sent_to_words(sentences):
      for sentence in sentences:
          yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
  def remove_stopwords(texts):
      return [[word for word in simple_preprocess(str(doc)) 
                if word not in stop_words] for doc in texts]
  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  #---------------------------------------------------------------------------------
  def sent_to_words(sentences):
      for sent in sentences:
          sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
          yield(sent)

  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
      """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
      texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
      texts = [bigram_mod[doc] for doc in texts]
      texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
      texts_out = []
      for sent in texts:
          doc = nlp(" ".join(sent)) 
          texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
      texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
      return texts_out
  data_ready = process_words(data_words)  
  data_ready

  cell['text'][0]
  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  len(celll)
  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  celtics['target'] = cel['Unnamed: 0'].fillna(0)
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  ('enter the nickname of the search term')
  nickname = input().lower()
  ('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = input().lower()
  print('input the opps team line')
  line_op = input().lower()

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_op)
  celtics['op_line'] = cc
  df222 = celtics
  df_fin = df_fin.append(df222)




print('length of nets targets = ' +str(len(df_fin[df_fin['target']==1])))
print('length of celtics targets = ' + str(len(df_fin[df_fin['target']==2])))
print('length of nan targets = ' +str(len(df_fin[df_fin['target']==0])))

if sss == 'no':
  hgh = 2
else:
  cel = pd.read_csv('/content/netss_train.csv')
  print('NETS - vs celtics')
  cell = pd.DataFrame()
  cell['text'] = cel['0']


  import gensim
  from gensim.utils import simple_preprocess
  import nltk
  nltk.download('stopwords')
  from nltk.corpus import stopwords
  stop_words = stopwords.words('english')
  stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
  def sent_to_words(sentences):
      for sentence in sentences:
          yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
  def remove_stopwords(texts):
      return [[word for word in simple_preprocess(str(doc)) 
                if word not in stop_words] for doc in texts]
  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  #---------------------------------------------------------------------------------
  def sent_to_words(sentences):
      for sent in sentences:
          sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
          yield(sent)

  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
      """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
      texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
      texts = [bigram_mod[doc] for doc in texts]
      texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
      texts_out = []
      for sent in texts:
          doc = nlp(" ".join(sent)) 
          texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
      texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
      return texts_out
  data_ready = process_words(data_words)  
  data_ready

  cell['text'][0]
  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  len(celll)
  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  celtics['target'] = cel['Unnamed: 0'].fillna(0)
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  ('enter the nickname of the search term')
  nickname = input().lower()
  ('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = input().lower()
  print('input the opps team line')
  line_op = input().lower()

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_op)
  celtics['op_line'] = cc
  df222 = celtics
  df_fin = df_fin.append(df222)




print('length of nets targets = ' +str(len(df_fin[df_fin['target']==1])))
print('length of celtics targets = ' + str(len(df_fin[df_fin['target']==2])))
print('length of nan targets = ' +str(len(df_fin[df_fin['target']==0])))

if sss == 'no':
  hgh = 2
else:
  cel = pd.read_csv('/content/nuggets_train.csv')
  print('NUGGETS - vs warriors')

  cell = pd.DataFrame()
  cell['text'] = cel['0']


  import gensim
  from gensim.utils import simple_preprocess
  import nltk
  nltk.download('stopwords')
  from nltk.corpus import stopwords
  stop_words = stopwords.words('english')
  stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
  def sent_to_words(sentences):
      for sentence in sentences:
          yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
  def remove_stopwords(texts):
      return [[word for word in simple_preprocess(str(doc)) 
                if word not in stop_words] for doc in texts]
  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  #---------------------------------------------------------------------------------
  def sent_to_words(sentences):
      for sent in sentences:
          sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
          yield(sent)

  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
      """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
      texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
      texts = [bigram_mod[doc] for doc in texts]
      texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
      texts_out = []
      for sent in texts:
          doc = nlp(" ".join(sent)) 
          texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
      texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
      return texts_out
  data_ready = process_words(data_words)  
  data_ready

  cell['text'][0]
  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  len(celll)
  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  celtics['target'] = cel['Unnamed: 0'].fillna(0)
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  ('enter the nickname of the search term')
  nickname = input().lower()
  ('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = input().lower()
  print('input the opps team line')
  line_op = input().lower()

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_op)
  celtics['op_line'] = cc
  df222 = celtics
  df_fin = df_fin.append(df222)




print('length of nets targets = ' +str(len(df_fin[df_fin['target']==1])))
print('length of celtics targets = ' + str(len(df_fin[df_fin['target']==2])))
print('length of nan targets = ' +str(len(df_fin[df_fin['target']==0])))

if sss == 'no':
  hgh = 2
else:
  cel = pd.read_csv('/content/warriors_train.csv')
  print('WARRIORS - vs nugs')


  cell = pd.DataFrame()
  cell['text'] = cel['0']


  import gensim
  from gensim.utils import simple_preprocess
  import nltk
  nltk.download('stopwords')
  from nltk.corpus import stopwords
  stop_words = stopwords.words('english')
  stop_words.extend(['from', 'subject', 're', 'edu', 'use','www','https','com','fags','string','sleep','apnea','cpap','co','machine','get','getting'])
  def sent_to_words(sentences):
      for sentence in sentences:
          yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))
  def remove_stopwords(texts):
      return [[word for word in simple_preprocess(str(doc)) 
                if word not in stop_words] for doc in texts]
  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  #---------------------------------------------------------------------------------
  def sent_to_words(sentences):
      for sent in sentences:
          sent = gensim.utils.simple_preprocess(str(sent), deacc=True) 
          yield(sent)

  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  def process_words(texts, stop_words=stop_words, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
      """Remove Stopwords, Form Bigrams, Trigrams and Lemmatization"""
      texts = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]
      texts = [bigram_mod[doc] for doc in texts]
      texts = [trigram_mod[bigram_mod[doc]] for doc in texts]
      texts_out = []
      for sent in texts:
          doc = nlp(" ".join(sent)) 
          texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
      texts_out = [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts_out]    
      return texts_out
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  len(celll)
  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  celtics['target'] = cel['Unnamed: 0'].fillna(0)
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  ('enter the nickname of the search term')
  nickname = input().lower()
  ('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = input().lower()
  print('input the opps team line')
  line_op = input().lower()

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['target'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['target'])):
    cc.append(line_op)
  celtics['op_line'] = cc
  df222 = celtics
  df_fin = df_fin.append(df222)




print('length of nets targets = ' +str(len(df_fin[df_fin['target']==1])))
print('length of celtics targets = ' + str(len(df_fin[df_fin['target']==2])))
print('length of nan targets = ' +str(len(df_fin[df_fin['target']==0])))
df_fin.head(10)
print('length of dataframe is: '+str(len(df_fin)))

BUCKS - vs bulls

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
bucks
input the opposing team
bulls
enter the nickname of the search term
mlk
enter the nickname of the opp term
chicago
input the search teams line
-2.5
input the opps team line
+2.5
search again? (yes/no)
yes
BULLS - vs bucks

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
bulls
input the opposing team
bucks
chicago
mlk
input the search teams line
+2.5
input the opps team line
-2.5
length of nets targets = 101
length of celtics targets = 178
length of nan targets = 1657
CELTICS - vs nets

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
celtics
input the opposing team
nets
boston
brooklyn
input the search teams line
-3.5
input the opps team line
+3.5
length of nets targets = 102
length of celtics targets = 179
length of nan targets = 1658
NETS - vs celtics

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
nets
input the opposing team
celtics
brooklyn
boston
input the search teams line
+3.5
input the opps team line
-3.5
length of nets targets = 102
length of celtics targets = 216
length of nan targets = 2621
NUGGETS - vs warriors

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
nuggets
input the opposing team
warriors
denver
golden
input the search teams line
+2.5
input the opps team line
-2.5
length of nets targets = 105
length of celtics targets = 231
length of nan targets = 3603
WARRIORS - vs nugs

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

input search term
warriors
input the opposing team
nuggets
golden
denver
input the search teams line
-2.5
input the opps team line
+2.5
length of nets targets = 125
length of celtics targets = 234
length of nan targets = 4580
length of dataframe is: 6453

In [ ]:
df_test = pd.DataFrame()
df_test = df_fin[df_fin['target']==0].sample(n = 340,replace = True)
df_test1 = df_fin[df_fin['target']==1].sample(n =340,replace = True)
df_test2 = df_fin[df_fin['target']==2].sample(n =340,replace = True)
peices = (df_test, df_test1, df_test2)
fff = pd.concat(peices, ignore_index = True)
fff['text'].dropna()
fff = fff.sample(n = 1000)

fff['ttt'] = fff['0_x'].astype(str)+' '+fff['2_x'].astype(str)+' '+fff['3_x'].astype(str)+' '+fff['4_x'].astype(str)+' '+fff['5_x'].astype(str)+' '+fff['6_x'].astype(str)+' '+fff['7_x'].astype(str)+' '+fff['8_x'].astype(str)+' '+fff['9_x'].astype(str)+' '+fff['10_x'].astype(str)+' '+fff['11_x'].astype(str)+' '+fff['12_x'].astype(str)+' '+fff['13_x'].astype(str)+' '+fff['14_x'].astype(str)+' '+fff['15_x'].astype(str)+' '+fff['16_x'].astype(str)+' '+fff['17_x'].astype(str)+' '+fff['18_x'].astype(str)+' '+fff['19_x'].astype(str)+' '+fff['20_x'].astype(str)
fff['target']
fff['ttt'] = fff['ttt'].reset_index().drop(columns = 'index')
fff = fff.reset_index().drop(columns = 'index')

import texthero as hero
from texthero import preprocessing
import tensorflow_hub as hub

custom_pipeline = [preprocessing.fillna,
                   preprocessing.lowercase,
                   preprocessing.remove_whitespace,
                   preprocessing.remove_diacritics,
                   preprocessing.remove_brackets
                  ]
df = pd.DataFrame()
df['clean_text'] = hero.clean(fff['ttt'] , custom_pipeline)
df['clean_text'] = [n.replace('{','') for n in df['clean_text']]
df['clean_text'] = [n.replace('}','') for n in df['clean_text']]
df['clean_text'] = [n.replace('(','') for n in df['clean_text']]
df['clean_text'] = [n.replace(')','') for n in df['clean_text']]

from gensim.models.doc2vec import TaggedDocument, Doc2Vec
import os
from sklearn import svm
from gensim.test.utils import common_texts
from gensim.models.doc2vec import Doc2Vec, TaggedDocument


df['tfidf'] = (hero.tfidf(df['clean_text'], max_features=30000))
card_docs = [TaggedDocument(doc.split(' '), [i]) 
             for i, doc in enumerate(df.clean_text)]
model = Doc2Vec(vector_size=64, min_count=1, epochs = 20)
model = Doc2Vec(vector_size=64, window=2, min_count=1, workers=8, epochs = 40)
model.build_vocab(card_docs)
model.train(card_docs, total_examples=model.corpus_count
            , epochs=model.epochs)
card2vec = [model.infer_vector((df['clean_text'][i].split(' '))) 
            for i in range(0,len(df['clean_text']))]
dtv= np.array(card2vec).tolist()
df['card2vec'] = dtv
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-large/5")
embeddings = embed(df['clean_text'])
use= np.array(embeddings).tolist()
df['use'] = [v for v in use]
df['tsnetfidf'] = hero.tsne(df['tfidf'])
df['tsnec2v'] = hero.tsne(df['card2vec'])
df['tsneuse'] = hero.tsne(df['use'])

import pandas as pd
import numpy as np
import regex as re
from collections import Counter

df['line'] = df['clean_text'].str.replace(',', '')
df['line'] = df['clean_text'].str.replace('.', '')

df['celtics'] = df['clean_text'].map(lambda x: x.count("celtics"))
df['nets'] = df['clean_text'].map(lambda x: x.count("nets"))

df['bucks'] = df['clean_text'].map(lambda x: x.count("bucks"))
df['bulls'] = df['clean_text'].map(lambda x: x.count("bulls"))

df['warriors'] = df['clean_text'].map(lambda x: x.count("warriors"))
df['nuggets'] = df['clean_text'].map(lambda x: x.count("nuggets"))

df['boston'] = df['clean_text'].map(lambda x: x.count("boston"))
df['brooklyn'] = df['clean_text'].map(lambda x: x.count("brooklyn"))

df['milwaukee'] = df['clean_text'].map(lambda x: x.count("milwaukee"))
df['chicago'] = df['clean_text'].map(lambda x: x.count("chicago"))

df['golden'] = df['clean_text'].map(lambda x: x.count("golden"))
df['denver'] = df['clean_text'].map(lambda x: x.count("denver"))

df['ml'] = df['clean_text'].map(lambda x: x.count("ml"))

df['+'] = df['clean_text'].map(lambda x: x.count("+"))
df['-'] = df['clean_text'].map(lambda x: x.count("-"))

df['s_line'] = fff['search_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['op_line'] = fff['op_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['target'] = fff['target'].reset_index().drop_duplicates('index').reset_index().drop(columns = ['level_0','index'])

df['search_'] = fff['team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])
df['search1'] = fff['team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search2'] = fff['team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search3'] = fff['team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search4'] = fff['team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search5'] = fff['team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])


df['op_'] = fff['op_team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op1'] = fff['op_team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op2'] = fff['op_team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op3'] = fff['op_team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op4'] = fff['op_team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op5'] = fff['op_team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df = df.drop(columns = ['line','clean_text','tfidf','card2vec','tsnetfidf','tsnec2v'])

holder = []
holder1 = []
for x in range(len(df['use'])):
  holder.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))
for x in range(len(df['tsneuse'])):
  holder1.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))

df = pd.merge(df.reset_index(),pd.DataFrame(holder).reset_index(),on = 'index').drop(columns = ['index','use','tsneuse'])
df = pd.merge(df.reset_index(),pd.DataFrame(holder1).reset_index(),on = 'index').drop(columns = ['index'])
df = pd.merge(df.reset_index(),pd.DataFrame(celll).reset_index().iloc[:,0:10],on = 'index').drop(columns = ['index'])

In [ ]:
y = df['target']
x = df.drop(columns = 'target').fillna(0).astype(float)
xxx = x
yyy = y
xx = x
yy = y



if 2>1:
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
  clf=RandomForestClassifier(n_estimators=1000)
  clf.fit(X_train,y_train)
  y_pred=clf.predict(X_test)
  print('random forest score = '+str(metrics.accuracy_score(y_test, y_pred)))
else:
  print('no random forest')
if 1>2:
  xx, yy = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, n_classes=3, random_state=1)

  model = LogisticRegression(multi_class='multinomial', solver='lbfgs')
  cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
  n_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
else:
  print('no logistic regression')
if 2>1:
  X_train, X_test, y_train, y_test = train_test_split(xxx, yyy, test_size=0.2)
  lr_list = [0.05]
  for learning_rate in lr_list:
      gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
      gb_clf.fit(X_train, y_train)
      print("Learning rate: ", learning_rate)
      print("Gradient Boosted Accuracy score (training): {0:.3f}".format(gb_clf.score(X_train, y_train)))
      print("Gradient Boosted Accuracy score (validation): {0:.3f}".format(gb_clf.score(X_test, y_test)))
else:
  print('no gradient boosted forests')
if 2>1:
  xgb_clf = XGBClassifier()
  xgb_clf.fit(X_train, y_train)
  score = xgb_clf.score(X_test, y_test)
  print('XGB Score = '+str(score))
else:
  print('no xg boosted forest')

clf.predict(x)
resultz = pd.DataFrame()
resultz = pd.DataFrame(clf.predict_proba(x))
resultz['actual'] = y
print(resultz.head(50))
first = pd.DataFrame()
second = pd.DataFrame()

first = resultz[resultz[2]>=.75]
second = resultz[resultz[1]>=.75]

first

random forest score = 0.6
no logistic regression
Learning rate:  0.05
Gradient Boosted Accuracy score (training): 0.674
Gradient Boosted Accuracy score (validation): 0.665
XGB Score = 0.63
        0      1      2  actual
0  0.0700 0.0320 0.8980  2.0000
1  0.6652 0.3168 0.0180  0.0000
2  0.1405 0.7257 0.1338  1.0000
3  0.0420 0.8940 0.0640  1.0000
4  0.1380 0.0188 0.8432  2.0000
5  0.9072 0.0070 0.0858  0.0000
6  0.1340 0.8480 0.0180  1.0000
7  0.8310 0.0150 0.1540  0.0000
8  0.2630 0.7336 0.0034  1.0000
9  0.8875 0.1105 0.0020  0.0000
10 0.0400 0.0410 0.9190  2.0000
11 0.8600 0.0000 0.1400  0.0000
12 0.9553 0.0290 0.0157  0.0000
13 0.0710 0.9150 0.0140  1.0000
14 0.8440 0.0020 0.1540  0.0000
15 0.0790 0.8677 0.0533  1.0000
16 0.8790 0.0370 0.0840  0.0000
17 0.4950 0.4875 0.0175  1.0000
18 0.1000 0.0180 0.8820  2.0000
19 0.0750 0.9064 0.0186  1.0000
20 0.6350 0.1870 0.1780  0.0000
21 0.0528 0.1666 0.7806  2.0000
22 0.0920 0.8340 0.0740  1.0000
23 0.0979 0.0499 0.8522  2.0000
24 0.2070 0.1095 0.6835  2.0000
25 0.3400 0.4427 0.2173  1.0000
26 0.8801 0.0140 0.1059  0.0000
27 0.1460 0.0220 0.8320  2.0000
28 0.9460 0.0040 0.0500  0.0000
29 0.9945 0.0010 0.0045  0.0000
30 0.0780 0.8880 0.0340  1.0000
31 0.1664 0.0035 0.8302  2.0000
32 0.8835 0.0110 0.1055  0.0000
33 0.0150 0.9770 0.0080  1.0000
34 0.8410 0.1180 0.0410  0.0000
35 0.1160 0.0110 0.8730  2.0000
36 0.3121 0.6817 0.0062  1.0000
37 0.8743 0.1247 0.0010  0.0000
38 0.4050 0.5747 0.0202  0.0000
39 0.1240 0.0260 0.8500  2.0000
40 0.0884 0.7523 0.1594  1.0000
41 0.9260 0.0030 0.0710  0.0000
42 0.0660 0.2392 0.6948  2.0000
43 0.0820 0.0180 0.9000  2.0000
44 0.0129 0.9329 0.0542  1.0000
45 0.1440 0.8100 0.0460  1.0000
46 0.1230 0.8600 0.0170  1.0000
47 0.8250 0.1670 0.0080  0.0000
48 0.1460 0.0950 0.7590  1.0000
49 0.0280 0.0110 0.9610  2.0000

         0      1      2  actual
0   0.0700 0.0320 0.8980  2.0000
4   0.1380 0.0188 0.8432  2.0000
10  0.0400 0.0410 0.9190  2.0000
18  0.1000 0.0180 0.8820  2.0000
21  0.0528 0.1666 0.7806  2.0000
..     ...    ...    ...     ...
977 0.0793 0.0146 0.9061  0.0000
985 0.0450 0.0100 0.9450  2.0000
991 0.0120 0.0660 0.9220  2.0000
993 0.0130 0.0045 0.9825  2.0000
995 0.0340 0.1930 0.7730  2.0000

[222 rows x 4 columns]

**running the trained model on new datasets!**

In [ ]:
consumer_key= '7d7PKS74mTCa5EYGc6lw5KHyH'
consumer_secret= 'FG2d31TVlPaR7zTedvsQUX9vkC5c4tInorAOPIdJ0nMNT2GqmP'
access_token= '1343573569796767745-TDUJmh3IEyPIY390WkW1N10b9uBPZG'
access_token_secret= '1PQ1MuLQtm82v6ML9ks908J75xvppFFkn1kH3cd4yLTyA'


auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter the teams you would like to search for')
team = input().lower()
search = team+'&+1.5'
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df = pd.DataFrame(all_tweets)
iii = 0

enter the teams you would like to search for
celtics

In [ ]:

auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter opposing second team')
team = input().lower()
print('enter opposing team line line')
line = input()
search = team+'&'+line
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df1 = pd.DataFrame(all_tweets)
iii = 0

enter opposing second team
nets
enter opposing team line line
-1.5

In [ ]:
print('bucks!')
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter search team')
team = input().lower()
print('enter search team line line')
line = input()
search = team+'&'+line
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df_bucks = pd.DataFrame(all_tweets)
iii = 0

bucks!
enter search team
bucks
enter search team line line
-4.5

In [ ]:
print('bulls!')
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter opposing team')
team = input().lower()
print('enter opposing team line')
line = input()
search = team+'&'+line
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df_bulls = pd.DataFrame(all_tweets)
iii = 0

bulls!
enter opposing team
bulls
enter opposing team line
+4.5

In [ ]:
print('warriors!')
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter search team')
team = input().lower()
print('enter search line')
line = input()
search = team+'&'+line
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df_wars = pd.DataFrame(all_tweets)
iii = 0

warriors!
enter search team
warriors
enter search line
-4.5

In [ ]:
print('nuggets!')
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)


time_since = '2022-04-24'
date_until = '2022-04-25'
print('enter opposing  team')
team = input().lower()
print('enter opposing team line')
line = input()
search = team+'&'+line
search = search + " -filter:retweets"

num_tweets = 3000
tweets = tw.Cursor(api.search,
                    q=search,
                    since = time_since,
                    until = date_until,
                    lang="en").items(num_tweets)


all_tweets = [[tweet.text, tweet.created_at.date(),tweet.retweet_count,tweet.favorite_count] for tweet in tweets]

df_nugs = pd.DataFrame(all_tweets)
iii = 0

nuggets!
enter opposing  team
nuggets
enter opposing team line
+4.5

In [ ]:
cell = pd.DataFrame()
cell1 = pd.DataFrame()

cell['text'] =df1[0]
cell['retweet_count'] =df1[2]
cell['favorite_count'] =df1[3]

cell1['text'] =df[0]
cell1['retweet_count'] =df[2]
cell1['favorite_count'] =df[3]


cell_nugs= pd.DataFrame()
cell_nugs['text'] = df_nugs[0]
cell_nugs['retweet_count'] =df_nugs[2]
cell_nugs['favorite_count'] =df_nugs[3]


cell_wars = pd.DataFrame()
cell_wars['text'] = df_wars[0]
cell_wars['retweet_count'] =df_wars[2]
cell_wars['favorite_count'] =df_wars[3]

cell_bulls= pd.DataFrame()
cell_bulls['text'] = df_bulls[0]
cell_bulls['retweet_count'] =df_bulls[2]
cell_bulls['favorite_count'] =df_bulls[3]

cell_bucks = pd.DataFrame()
cell_bucks['text'] = df_bucks[0]
cell_bucks['retweet_count'] =df_bucks[2]
cell_bucks['favorite_count'] =df_bucks[3]

In [ ]:
data = cell1.text.values.tolist()
data_words = list(sent_to_words(data))
data_wordss = remove_stopwords(data_words)


bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
bigram_mod = gensim.models.phrases.Phraser(bigram)
trigram_mod = gensim.models.phrases.Phraser(trigram)
data_ready = process_words(data_words)  

celll =[]
import re

for sfw in range(len(cell['text'])):
  tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
  gg = []
  for xc in range(len(tr)):
    if len(tr[xc])==0:
      faf = 0
    else:
      gg.append(tr[xc])
  celll.append(gg)


celtics = pd.DataFrame()
celtics['text'] = cell['text']
celtics['retweet_count'] = cell1['retweet_count']
celtics['favorite_count'] = cell1['favorite_count']

celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
print('input search term')
search = input().lower()
print('input the opposing team')
other = input().lower()
print('enter the nickname of the search term')
nickname = input().lower()
print('enter the nickname of the opp term')
nickname1 = input().lower()
print('input the search teams line')
line_search = float(input())
print('input the opps team line')
line_op = float(input())

cc = []
for x in range(len(celtics['text'])):
  cc.append(nickname)
celtics['nickname_search'] = cc

cc = []
for x in range(len(celtics['text'])):
  cc.append(search)
celtics['team'] = cc

cc = []
for x in range(len(celtics['text'])):
  cc.append(other)
celtics['op_team'] = cc

cc = []
for x in range(len(celtics['text'])):
  cc.append(nickname1)
celtics['nickname_op'] = cc
cc = []
for x in range(len(celtics['text'])):
  cc.append(line_search)
celtics['search_line'] = cc
cc = []
for x in range(len(celtics['text'])):
  cc.append(line_op)
celtics['op_line'] = cc

df111 = celtics

print('search again? (yes/no)')
sss = input().lower()
if sss =='no':
  print('enter yes!')
else:

  data = cell.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics['retweet_count'] = cell['retweet_count']
  celtics['favorite_count'] = cell['favorite_count']

  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  print('enter the nickname of the search term')
  nickname = input().lower()
  print('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = float(input())
  print('input the opps team line')
  line_op = float(input())

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_op)
  celtics['op_line'] = cc

  df112 = df111.append(celtics)

if sss =='no':
  print('enter yes!')
else:

  data = cell_bucks.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics['retweet_count'] = cell_bucks['retweet_count']
  celtics['favorite_count'] = cell_bucks['favorite_count']

  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  print('enter the nickname of the search term')
  nickname = input().lower()
  print('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = float(input())
  print('input the opps team line')
  line_op = float(input())

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_op)
  celtics['op_line'] = cc

  df112 = df111.append(celtics)

if sss =='no':
  print('enter yes!')
else:

  data = cell_bulls.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics['retweet_count'] = cell_bulls['retweet_count']
  celtics['favorite_count'] = cell_bulls['favorite_count']

  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  print('enter the nickname of the search term')
  nickname = input().lower()
  print('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = float(input())
  print('input the opps team line')
  line_op = float(input())

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_op)
  celtics['op_line'] = cc

  df112 = df111.append(celtics)


if sss =='no':
  print('enter yes!')
else:

  data = cell_wars.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics['retweet_count'] = cell_wars['retweet_count']
  celtics['favorite_count'] = cell_wars['favorite_count']

  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  print('enter the nickname of the search term')
  nickname = input().lower()
  print('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = float(input())
  print('input the opps team line')
  line_op = float(input())

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_op)
  celtics['op_line'] = cc

  df112 = df111.append(celtics)


if sss =='no':
  print('enter yes!')
else:

  data = cell_nugs.text.values.tolist()
  data_words = list(sent_to_words(data))
  data_wordss = remove_stopwords(data_words)


  bigram = gensim.models.Phrases(data_wordss, min_count=5, threshold=100) # higher threshold fewer phrases.
  trigram = gensim.models.Phrases(bigram[data_wordss], threshold=100)  
  bigram_mod = gensim.models.phrases.Phraser(bigram)
  trigram_mod = gensim.models.phrases.Phraser(trigram)
  data_ready = process_words(data_words)  

  celll =[]
  import re

  for sfw in range(len(cell['text'])):
    tr = re.sub("[^0-9]", ",", cell['text'][sfw]).split(',')
    gg = []
    for xc in range(len(tr)):
      if len(tr[xc])==0:
        faf = 0
      else:
        gg.append(tr[xc])
    celll.append(gg)


  celtics = pd.DataFrame()
  celtics['text'] = cell['text']
  celtics['retweet_count'] = cell_nugs['retweet_count']
  celtics['favorite_count'] = cell_nugs['favorite_count']

  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(data_words).reset_index(), on = 'index').drop(columns = ['index'])
  celtics = pd.merge(celtics.reset_index(), pd.DataFrame(celll).reset_index(), on = 'index').drop(columns = 'index')
  print('input search term')
  search = input().lower()
  print('input the opposing team')
  other = input().lower()
  print('enter the nickname of the search term')
  nickname = input().lower()
  print('enter the nickname of the opp term')
  nickname1 = input().lower()
  print('input the search teams line')
  line_search = float(input())
  print('input the opps team line')
  line_op = float(input())

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname)
  celtics['nickname_search'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(search)
  celtics['team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(other)
  celtics['op_team'] = cc

  cc = []
  for x in range(len(celtics['text'])):
    cc.append(nickname1)
  celtics['nickname_op'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_search)
  celtics['search_line'] = cc
  cc = []
  for x in range(len(celtics['text'])):
    cc.append(line_op)
  celtics['op_line'] = cc

  df112 = df111.append(celtics)



df112

input search term
celtics
input the opposing team
nets
enter the nickname of the search term
boston
enter the nickname of the opp term
brooklyn
input the search teams line
+1.5
input the opps team line
-1.5
search again? (yes/no)
yes
input search term
nets
input the opposing team
celtics
enter the nickname of the search term
brooklyn
enter the nickname of the opp term
boston
input the search teams line
-1.5
input the opps team line
+1.5
input search term
bucks
input the opposing team
bulls
enter the nickname of the search term
mlk
enter the nickname of the opp term
chicago
input the search teams line
-4.5
input the opps team line
+4.5
input search term
bulls
input the opposing team
bucks
enter the nickname of the search term
chicago
enter the nickname of the opp term
mlk
input the search teams line
+4.5
input the opps team line
-4.5
input search term
warriors
input the opposing team
nuggets
enter the nickname of the search term
golden
enter the nickname of the opp term
denver
input the search teams line
-4.5
input the opps team line
+4.5
input search term
nuggets
input the opposing team
warriors
enter the nickname of the search term
denver
enter the nickname of the opp term
golden
input the search teams line
+4.5
input the opps team line
-4.5

,text,retweet_count,favorite_count,0_x,1_x,2_x,3_x,4_x,5_x,6_x,...,16_y,17_y,18_y,19_y,nickname_search,team,op_team,nickname_op,search_line,op_line
0,Reseeding NBA teams based on what i've seen ov...,0.0000,0.0000,reseeding,nba,teams,based,on,what,ve,...,None,None,None,None,boston,celtics,nets,brooklyn,1.5000,-1.5000
1,Seeing Nets still at 1.5%-2% to win the whole ...,0.0000,0.0000,marcus,smart,panini,rookie,sportscards,https,co,...,None,None,None,None,boston,celtics,nets,brooklyn,1.5000,-1.5000
2,@MattArchambeau1 @BGN_5 Houston was on a rebui...,4.0000,9.0000,takin,it,easy,this,sunday,one,mlb,...,None,None,None,None,boston,celtics,nets,brooklyn,1.5000,-1.5000
3,Ben on the sideline pretending he is disappoin...,0.0000,20.0000,nba,top,selling,jerseys,lakers,lebron,james,...,None,None,None,None,boston,celtics,nets,brooklyn,1.5000,-1.5000
4,NBAs Top 10 Selling Jerseys:\n#1 Lakers LeBr...,2.0000,0.0000,sayittwice_,if,giannis,beats,the,celtics,without,...,None,None,None,None,boston,celtics,nets,brooklyn,1.5000,-1.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Cs.\n1. Better Team\n2. Deeper Team \n3. Def...,0.0000,1.0000,getnickwright,kevin,durant,is,one,loss,away,...,None,None,None,None,denver,nuggets,warriors,golden,4.5000,-4.5000
230,@EvanRobertsWFAN For you Nets sk for Carton b...,0.0000,12.0000,bgn_,shannon,sharpes,greatest,nba,playoff,performances,...,None,None,None,None,denver,nuggets,warriors,golden,4.5000,-4.5000
231,Q4 5:21 BOS 96 BKN 86\nKyrie Irving has tied...,0.0000,0.0000,jordan,poole,points,prop,has,been,set,...,None,None,None,None,denver,nuggets,warriors,golden,4.5000,-4.5000
232,Q4 5:21 BOS 96 BKN 86\nKyrie Irving has tied...,0.0000,0.0000,update,golden,state,warriors,at,denver,nuggets,...,None,None,None,None,denver,nuggets,warriors,golden,4.5000,-4.5000
233,Past 24 hours we got Cuse women's lax losing t...,0.0000,5.0000,here,we,grow,sports,and,breakfast,on,...,None,None,None,None,denver,nuggets,warriors,golden,4.5000,-4.5000

In [ ]:
fff = df112.sample(n = 500)

fff['ttt'] = fff['0_x'].astype(str)+' '+fff['2_x'].astype(str)+' '+fff['3_x'].astype(str)+' '+fff['4_x'].astype(str)+' '+fff['5_x'].astype(str)+' '+fff['6_x'].astype(str)+' '+fff['7_x'].astype(str)+' '+fff['8_x'].astype(str)+' '+fff['9_x'].astype(str)+' '+fff['10_x'].astype(str)+' '+fff['11_x'].astype(str)+' '+fff['12_x'].astype(str)+' '+fff['13_x'].astype(str)+' '+fff['14_x'].astype(str)+' '+fff['15_x'].astype(str)+' '+fff['16_x'].astype(str)+' '+fff['17_x'].astype(str)+' '+fff['18_x'].astype(str)+' '+fff['19_x'].astype(str)+fff['19_x'].astype(str)

fff['ttt'] = fff['ttt'].reset_index().drop(columns = 'index')
fff = fff.reset_index().drop(columns = 'index')

import texthero as hero
from texthero import preprocessing
custom_pipeline = [preprocessing.fillna,
                   preprocessing.lowercase,
                   preprocessing.remove_whitespace,
                   preprocessing.remove_diacritics,
                   preprocessing.remove_brackets
                  ]
df = pd.DataFrame()
df['clean_text'] = hero.clean(fff['ttt'] , custom_pipeline)
df['clean_text'] = [n.replace('{','') for n in df['clean_text']]
df['clean_text'] = [n.replace('}','') for n in df['clean_text']]
df['clean_text'] = [n.replace('(','') for n in df['clean_text']]
df['clean_text'] = [n.replace(')','') for n in df['clean_text']]


df['tfidf'] = (hero.tfidf(df['clean_text'], max_features=30000))
card_docs = [TaggedDocument(doc.split(' '), [i]) 
             for i, doc in enumerate(df.clean_text)]
model = Doc2Vec(vector_size=64, min_count=1, epochs = 20)
model = Doc2Vec(vector_size=64, window=2, min_count=1, workers=8, epochs = 40)
model.build_vocab(card_docs)
model.train(card_docs, total_examples=model.corpus_count
            , epochs=model.epochs)
card2vec = [model.infer_vector((df['clean_text'][i].split(' '))) 
            for i in range(0,len(df['clean_text']))]
dtv= np.array(card2vec).tolist()
df['card2vec'] = dtv
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-large/5")
embeddings = embed(df['clean_text'])
use= np.array(embeddings).tolist()
df['use'] = [v for v in use]
df['tsnetfidf'] = hero.tsne(df['tfidf'])
df['tsnec2v'] = hero.tsne(df['card2vec'])
df['tsneuse'] = hero.tsne(df['use'])

import pandas as pd
import numpy as np
import regex as re
from collections import Counter

df['line'] = df['clean_text'].str.replace(',', '')
df['line'] = df['clean_text'].str.replace('.', '')

df['celtics'] = df['clean_text'].map(lambda x: x.count("celtics"))
df['nets'] = df['clean_text'].map(lambda x: x.count("nets"))

df['bucks'] = df['clean_text'].map(lambda x: x.count("bucks"))
df['bulls'] = df['clean_text'].map(lambda x: x.count("bulls"))

df['warriors'] = df['clean_text'].map(lambda x: x.count("warriors"))
df['nuggets'] = df['clean_text'].map(lambda x: x.count("nuggets"))

df['boston'] = df['clean_text'].map(lambda x: x.count("boston"))
df['brooklyn'] = df['clean_text'].map(lambda x: x.count("brooklyn"))

df['milwaukee'] = df['clean_text'].map(lambda x: x.count("milwaukee"))
df['chicago'] = df['clean_text'].map(lambda x: x.count("chicago"))

df['golden'] = df['clean_text'].map(lambda x: x.count("golden"))
df['denver'] = df['clean_text'].map(lambda x: x.count("denver"))

df['ml'] = df['clean_text'].map(lambda x: x.count("ml"))

df['+'] = df['clean_text'].map(lambda x: x.count("+"))
df['-'] = df['clean_text'].map(lambda x: x.count("-"))

df['s_line'] = fff['search_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['op_line'] = fff['op_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['favorite_count'] = fff['op_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['retweet_count'] = fff['op_line'].reset_index().drop_duplicates('index').drop(columns = 'index')


df['search_'] = fff['team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])
df['search1'] = fff['team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search2'] = fff['team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search3'] = fff['team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search4'] = fff['team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search5'] = fff['team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])


df['op_'] = fff['op_team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op1'] = fff['op_team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op2'] = fff['op_team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op3'] = fff['op_team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op4'] = fff['op_team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op5'] = fff['op_team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])



df = df.drop(columns = ['line','tfidf','card2vec','tsnec2v'])


holder = []
holder1 = []
for x in range(len(df['use'])):
  holder.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))
for x in range(len(df['tsneuse'])):
  holder1.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))

df = pd.merge(df.reset_index(),pd.DataFrame(holder).reset_index(),on = 'index').drop(columns = ['index','use'])
df = pd.merge(df.reset_index(),pd.DataFrame(holder1).reset_index(),on = 'index').drop(columns = ['index'])
df = pd.merge(df.reset_index(),pd.DataFrame(celll).reset_index().iloc[:,0:10],on = 'index').drop(columns = ['index']) 
df_textHold = df['clean_text']
df = df.drop(columns = ['clean_text','tsnetfidf'])

WARNING:gensim.models.base_any2vec:under 10 jobs per worker: consider setting a smaller `batch_words' for smoother alpha decay

In [ ]:
df = df.drop(columns = 'tsneuse')
df

,celtics,nets,bucks,bulls,warriors,nuggets,boston,brooklyn,milwaukee,chicago,...,29_y,0,1,2,3,4,5,6,7,8
0,0,0,0,0,0,0,0,0,0,0,...,0.03245069459080696,1,2,3,4,5,3,3,None,None
1,2,1,0,0,0,0,0,0,0,0,...,0.03245069459080696,1,5,2,None,None,None,None,None,None
2,0,0,0,0,0,0,0,0,0,0,...,0.03245069459080696,1,5,43,None,None,None,None,None,None
3,1,1,0,0,0,0,0,0,0,0,...,0.03245069459080696,2,0,None,None,None,None,None,None,None
4,0,0,1,0,0,0,0,0,0,0,...,0.03245069459080696,10,1,2,76,3,4,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0,0,0,0,0,0,0,0,0,0,...,0.03245069459080696,12,6,4,4,52,4,4,12,5
276,0,0,0,0,0,0,0,0,0,0,...,0.03245069459080696,5,53,None,None,None,None,None,None,None
277,0,0,0,0,1,1,0,0,0,0,...,0.03245069459080696,1,5,18,17,18,21,None,None,None
278,0,0,0,0,0,1,0,0,0,0,...,0.03245069459080696,1,5,18,17,18,21,79,None,None
279,0,0,0,0,0,2,0,0,0,0,...,0.03245069459080696,1,5,54,15,16,18,8,None,None

In [96]:
clf.predict(df.fillna(0).astype(float))

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
clf.predict(df.fillna(0).astype(float))
resultz = pd.DataFrame()
resultz = pd.DataFrame(clf.predict_proba(df.fillna(0).astype(float)))
resultz['actual'] = y
print(resultz.head(50))
first = pd.DataFrame()
second = pd.DataFrame()

first = resultz[resultz[1]>=.33]
second = resultz[resultz[2]>=.33]

first

        0      1      2  actual
0  0.4610 0.3520 0.1870  2.0000
1  0.8281 0.0850 0.0869  0.0000
2  0.3815 0.3402 0.2782  1.0000
3  0.3343 0.4064 0.2593  1.0000
4  0.4021 0.3280 0.2699  2.0000
5  0.7411 0.1100 0.1489  0.0000
6  0.3570 0.3530 0.2900  1.0000
7  0.4891 0.2948 0.2162  0.0000
8  0.8570 0.0010 0.1420  1.0000
9  0.6498 0.0070 0.3432  0.0000
10 0.4220 0.4027 0.1753  2.0000
11 0.3580 0.3332 0.3089  0.0000
12 0.8284 0.0840 0.0876  0.0000
13 0.4448 0.3252 0.2299  1.0000
14 0.7550 0.0500 0.1950  0.0000
15 0.9035 0.0130 0.0835  1.0000
16 0.4645 0.3050 0.2305  0.0000
17 0.4060 0.3640 0.2300  1.0000
18 0.4840 0.2580 0.2580  2.0000
19 0.8382 0.0130 0.1488  1.0000
20 0.3388 0.3187 0.3425  0.0000
21 0.8609 0.0270 0.1121  2.0000
22 0.7103 0.1100 0.1797  1.0000
23 0.3710 0.3960 0.2330  2.0000
24 0.4340 0.3140 0.2520  2.0000
25 0.3658 0.3543 0.2798  1.0000
26 0.8620 0.0240 0.1140  0.0000
27 0.7710 0.0330 0.1960  2.0000
28 0.4810 0.3110 0.2080  0.0000
29 0.4537 0.3050 0.2413  0.0000
30 0.3610 0.3383 0.3007  1.0000
31 0.4093 0.3730 0.2177  2.0000
32 0.8515 0.0310 0.1175  0.0000
33 0.3690 0.3600 0.2710  1.0000
34 0.7110 0.0890 0.2000  0.0000
35 0.4597 0.3350 0.2053  2.0000
36 0.7700 0.0330 0.1970  1.0000
37 0.4700 0.2990 0.2310  0.0000
38 0.8340 0.0840 0.0820  0.0000
39 0.8992 0.0330 0.0678  2.0000
40 0.3534 0.3455 0.3011  1.0000
41 0.8995 0.0070 0.0935  0.0000
42 0.4190 0.3440 0.2370  2.0000
43 0.8350 0.0410 0.1240  2.0000
44 0.3640 0.2990 0.3370  1.0000
45 0.7588 0.0570 0.1842  1.0000
46 0.7490 0.0220 0.2290  1.0000
47 0.3792 0.3036 0.3172  0.0000
48 0.4300 0.3600 0.2100  1.0000
49 0.8882 0.0260 0.0858  2.0000

         0      1      2  actual
0   0.4610 0.3520 0.1870  2.0000
2   0.3815 0.3402 0.2782  1.0000
3   0.3343 0.4064 0.2593  1.0000
6   0.3570 0.3530 0.2900  1.0000
10  0.4220 0.4027 0.1753  2.0000
..     ...    ...    ...     ...
267 0.3039 0.3693 0.3268  2.0000
268 0.4430 0.3520 0.2050  1.0000
270 0.3939 0.3371 0.2690  1.0000
273 0.3740 0.4753 0.1506  2.0000
274 0.3582 0.4283 0.2135  1.0000

[84 rows x 4 columns]

In [ ]:
#scrapyard

In [ ]:
import pandas as pd
import numpy as np
import regex as re
from collections import Counter

df['line'] = df['clean_text'].str.replace(',', '')
df['line'] = df['clean_text'].str.replace('.', '')

df['celtics'] = df['clean_text'].map(lambda x: x.count("celtics"))
df['nets'] = df['clean_text'].map(lambda x: x.count("nets"))

df['bucks'] = df['clean_text'].map(lambda x: x.count("bucks"))
df['bulls'] = df['clean_text'].map(lambda x: x.count("bulls"))

df['warriors'] = df['clean_text'].map(lambda x: x.count("warriors"))
df['nuggets'] = df['clean_text'].map(lambda x: x.count("nuggets"))

df['boston'] = df['clean_text'].map(lambda x: x.count("boston"))
df['brooklyn'] = df['clean_text'].map(lambda x: x.count("brooklyn"))

df['milwaukee'] = df['clean_text'].map(lambda x: x.count("milwaukee"))
df['chicago'] = df['clean_text'].map(lambda x: x.count("chicago"))

df['golden'] = df['clean_text'].map(lambda x: x.count("golden"))
df['denver'] = df['clean_text'].map(lambda x: x.count("denver"))

df['ml'] = df['clean_text'].map(lambda x: x.count("ml"))

df['+'] = df['clean_text'].map(lambda x: x.count("+"))
df['-'] = df['clean_text'].map(lambda x: x.count("-"))

df['s_line'] = df_fin['search_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['op_line'] = df_fin['op_line'].reset_index().drop_duplicates('index').drop(columns = 'index')
df['target'] = df_fin['target'].reset_index().drop_duplicates('index').reset_index().drop(columns = ['level_0','index'])

df['search_'] = df_fin['team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])
df['search1'] = df_fin['team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search2'] = df_fin['team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search3'] = df_fin['team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search4'] = df_fin['team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['search5'] = df_fin['team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])


df['op_'] = df_fin['op_team'].map(lambda x: x.count("nets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op1'] = df_fin['op_team'].map(lambda x: x.count("celtics")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op2'] = df_fin['op_team'].map(lambda x: x.count("warriors")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op3'] = df_fin['op_team'].map(lambda x: x.count("nuggets")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op4'] = df_fin['op_team'].map(lambda x: x.count("bulls")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df['op5'] = df_fin['op_team'].map(lambda x: x.count("bucks")).reset_index().drop_duplicates('index').reset_index().drop(columns = ['index','level_0'])

df = df.drop(columns = ['line','clean_text','tfidf','card2vec','tsnetfidf','tsnec2v'])

holder = []
holder1 = []
for x in range(len(df['use'])):
  holder.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))
for x in range(len(df['tsneuse'])):
  holder1.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))

df = pd.merge(df.reset_index(),pd.DataFrame(holder).reset_index(),on = 'index').drop(columns = ['index','use','tsneuse'])
df = pd.merge(df.reset_index(),pd.DataFrame(holder1).reset_index(),on = 'index').drop(columns = ['index'])
df = pd.merge(df.reset_index(),pd.DataFrame(celll).reset_index().iloc[:,0:10],on = 'index').drop(columns = ['index'])

In [ ]:
holder = []
holder1 = []
for x in range(len(df['use'])):
  holder.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))
for x in range(len(df['tsneuse'])):
  holder1.append(str(str(df['use'][1][0:30]).replace('[','').replace(']','')).split(','))

df = pd.merge(df.reset_index(),pd.DataFrame(holder).reset_index(),on = 'index').drop(columns = ['index','use','tsneuse'])
df = pd.merge(df.reset_index(),pd.DataFrame(holder1).reset_index(),on = 'index').drop(columns = ['index'])
df = pd.merge(df.reset_index(),pd.DataFrame(celll).reset_index().iloc[:,0:10],on = 'index').drop(columns = ['index'])

,celtics,nets,bucks,bulls,warriors,nuggets,boston,brooklyn,milwaukee,chicago,...,20_y,21_y,22_y,23_y,24_y,25_y,26_y,27_y,28_y,29_y
0,0,0,0,0,0,1,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
1,0,0,0,0,1,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
2,0,0,0,0,0,1,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
3,0,0,0,0,1,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
4,0,0,0,0,0,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
996,0,0,0,0,1,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
997,0,0,0,0,0,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
998,0,0,0,0,1,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932
999,0,0,0,0,0,0,0,0,0,0,...,-0.08042887598276138,0.02054186910390854,0.0038353761192411184,-0.02421613410115242,0.08084839582443237,0.00596114806830883,0.048086345195770264,0.0011148544726893306,-0.05205116793513298,0.002441949909552932